html{

}

a{
	text-decoration: none;
	color: black;
}
a:visited{
	color: black;
}
.logo{
	width:70px;
	margin: auto;
}
.nomLogo{
	display: block;
	width: 50px;
	margin: auto;
	color:#ffcc00;
}
.headLogo{
	width: 60px;
	height:40px;
	display: flex;
	
}
body{
	margin: 0;
	padding: 0;
	margin: auto;
	background-color: #f4f4f4;
	

}
.divarticle{
	width: 150px;
	height: 250px;
	text-align:center;
}
.divpage{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-height: 520px;
}
.divpagecat{

	min-height: 585px;
}
.menu{
	list-style-type: none;
	display: flex;
	font-family: arial;
	
}
.menubtn{
	display:inline-block;
	padding: 7px;
	width: 190px;
	border:solid 3px white;
	text-align: center;
	color:black;

}
li{
	
}
.menubtn:visited{
	color:black;
}
.carrousel{
	
}
.imgA{
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.boutonM{
	width: 130px;
	border-radius: 20px;
	border-style:hidden;
	background-color: white;
	
}
li{
	margin: auto;
	margin-top: 20px;
}
.barremenu{


}
.head{
	background-image: url("/img/background.jpg");
	width: 100%;
	background-position: center;
}
nav{

	border: 0;
	padding: 0;
}
.corps{
	border: 0;
	padding: 0;
	background-color: white;

}

footer{
	background-color: #003595;
	color: white;
	height: 50px;
	display: flex;
}
.centrer{
	width:150px;
	margin: auto;
	
}
.pied{
	
}

.tableaux{
	background-color: white;
	width: 90%;
	margin: auto;
}

.imgart{
	width:80%;
	height:80%;
	margin: auto;
}
.divimage{
	width: 150px;
	height: 150px;
	display: flex;
}
.prix{
	color: #aa0d0d;
	font-size: 0.8em;
}
#ssmenu{
	border: solid 3px #003595;
	background-color: white;
	width: 200px;
	height: 100px;
	position: relative;
	bottom: 35px;
	left: 190px;
	font-size: 0.8em;
	visibility: hidden;
}
.mere{
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
}
.fille{
	padding-left: 40px;
}

.bandeau{
	width: 100%;
	height: 150px;
}
.groslogo{
	
	display:block;
	width: 125px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
header{
	height:40px;
}
.divglogo{

}
.divpagepanier{
	margin: 50px;
}



  